@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root
{
    --blue: rgb(30, 98, 158);
    --darkblack: #0D0E12;
    --lightblack:#202328;
    --textcolor: #8E96A4;
    --headingcolor: #E1E6F0;
    --white: #ffffff;
}
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
a 
{
    text-decoration: none;
}
#outer-container,body
{
    background-color: var(--darkblack);
}
#logo a
{
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    color: var(--white);
    font-size: 1.5rem;
}
#blog-heading, .inner-heading, .hashtag
{
    color: var(--headingcolor);
}
.para 
{
    color: var(--textcolor);
}
button 
{
    background-color: var(--blue);
    border: none;
}
button a 
{
    color: var(--white);
}
#blog-content a
{
    color: var(--blue);
    text-decoration: underline;
}
#navigation
{
    box-shadow: rgba(19, 104, 143, 0.1) 0px 4px 6px -1px, rgba(28, 79, 174, 0.06) 0px 2px 4px -1px;
    position: fixed;
    width: 100%;
    background-color: var(--darkblack);
}
#navbar
{
    /* margin: 0px 30px 0px 30px; */
    padding: 5px;
    display: flex;
}
#logo
{
    display: flex;
}
#menu-icon
{
    display: none;
    width: 30px;
    height: 30px;
    margin-top: 3px;
}
#rest
{
    width: 100%;
    padding: 10px;
}
#logo
{
    width: 20%;
    padding: 10px;
    margin-left: 20px;
}
#logo-name
{
    margin-left: 3%;
}
#search-box input[type="text"]
{
    background-color: var(--lightblack);
    color: var(--textcolor);
    width: 60%;
    height: 20px;
    padding: 18px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
#content-wrapper, #blog-writer, #discussion-heading
{
    display: flex;
}
#login, #create-acc
{
    margin: 10px;
}
#login button, #create-acc button
{
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
}
#login button:hover, #create-acc button:hover, #follow-btn:hover
{
    background-color: var(--white);
    color: var(--blue);
    cursor: pointer;   
}
#login button, #create-acc button 
{
    font-size: 15px;
    color: var(--white);
}

#content-wrapper
{
    background-color: var(--darkblack);
}
#content, #profile
{
    box-shadow: rgba(25, 105, 165, 0.25) 0px 0.0625em 0.0625em, rgba(39, 75, 175, 0.25) 0px 0.125em 0.5em, rgba(34, 72, 161, 0.1) 0px 0px 0px 1px inset;
    margin-top: 100px;
    border-radius: 10px;
    /* background-color: #202328; */
}
#content
{
    width: 55%;
    margin-left:9%;
    padding: 30px;
}
iframe
{
    width: 100%;
}
#profile
{
    right:50px;
    width: 25%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    position: fixed;
}
#writer-profile-img
{
    width:60px;
    height:60px;
    border-radius: 100px;
    
}
#profile-img-name
{
    display: flex;
    padding: 5px;
}
#profile-img-name div 
{
    padding: 10px 20px;
}
#follow-btn
{
    border-radius: 5px;
    padding: 4px 6px 4px 6px;
    margin-top: 5px;
    width: 100px;
    color: var(--white);
}
.space
{
    padding: 10px;
}
#writer-desc
{
    padding: 10px;
}
#location
{
    display: flex;
}
#location p
{
    margin-left: 10px;
}
#blue
{
    color: var(--blue);
}
#writer-img img
{
    width:38px;
    height:38px;
    border-radius: 100px;

}
#blog-writer div
{
    padding: 5px;
}
#blog-writer div .inner-heading, #date-posted
{
    font-size: 12px;
}
#subscribe
{
    padding: 8px;
    border-radius: 3px;
    font-size: 1rem;
}
textarea
{
    color: var(--white);
    font-size: 15px;
    background-color: var(--lightblack);
    border:none;
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
}
.para
{
    line-height: 25px;
}
#footer
{
    background-color: var(--blue);;
    margin-top: 100px;
    width: 100%;
    position: absolute;
    z-index: 1;
    
}
#footer-content
{
    padding:10px;
    
}
#footer-content p
{
    color: var(--white);
    padding: 10px;
    text-align: center;
    font-size: 15px;
}
#menu
{
    position: absolute;
    z-index: 1;
    display: none;
}
#menu p
{
    color: var(--white);   
}
#menu-container
{
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    padding: 20px;
}
#menu-container div
{
    display: flex;
}
#close
{
    width:20px;
    height:20px;
    margin-left: 50%;
}
#create, #log
{
    background-color: var(--white);
    color: var(--blue);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width:90%;
}
#log
{
    border: 2px solid var(--white);
    background-color: var(--blue);
    color: var(--white);
}
hr
{
    border: 1px solid var(--blue);
}
@media (max-width : 1024px) {
    #content-wrapper
    {
        flex-direction: column;
    }
    #profile 
    {
        position: static;
        width: 80%;
        margin-left: 10%;
        padding: 20px;
    }
    #content
    {
        width: 80%;
    }
}
@media (min-width : 1024px) {
        #menu
        {
            display: none !important;
        }
}
@media (min-width: 768px) and (max-width: 1024px){
        #search-box input[type="text"]
        {
           width: 45%;
        }
        #menu
        {
            display: none !important;
        }
    }
@media (min-width: 481px) and (max-width: 768px) {
    #search-box, #rest
    {
        display: none;
    }
    #menu-icon
    {
        display: block;
        margin-right: 10px;
        margin-left: -20px;
    }
    #content
    {
        box-shadow: none;
        width:100%;
        padding: 10px;
        margin-left:0px;
    }
    h1 
    {
        font-size: 26px;
    }
    .para
    {
        font-size: 14px;
    }
}
@media (max-width: 481px) {
    #search-box, #create-acc, #login
    {
        display: none;
    }
    #menu-icon
    {
        display: block;
        margin-right: 10px;
        margin-left: -20px;
    }
    #content
    {
        box-shadow: none;
        width:100%;
        padding: 10px;
        margin-left:0px;
    }
    h1 
    {
        font-size: 26px;
    }
    .para
    {
        font-size: 14px;
        line-height: 22px;
    }
    #footer-content p
    {
    color: var(--white);
    padding: 5px;
    text-align: center;
    font-size: 10px;
    }
    
}

